Your project submission will have two parts: the game itself and a writeup. The game part should contain all code and assets, plus a readme identifying third-party libraries and explaining how to build the project. The writeup should explain how to play the game, describe how the game addresses the technical requirements, describe any algorithms you used along the way (especially things you devised yourself, like the non-physical behaviour of entities in the game) and list all bugs you are aware of. Justify design decisions you made: why did you set things up the way you did? Include up to 1 page explaining the distribution of tasks among group members. IMPORTANT: Include in the writeup a page of reflection: describe what you like and do not like about your project, highlight the things you are most proud of, and say what you would have done differently if you were to start again.

Marks will be allocated according to the following schema:

/50 Required technical elements:

/5 Properly behaved first- and third-person camera, with ability to use either depending on situation
	- Keyboard controlled first + third-person cameras

/5 Hierarchical tank model, minimally separate turret and tank body, ideally with more moving parts (e.g., wheels)
	- Implemented

/5 Sensible lighting calculations for game objects
	- Implemented

/5 Environment containing multiple objects, hopefully textured in sensible way
	- Half-implemented

/10 Weapons fire, with visuals, collisions, and game logic
	- Weapons fire, with visuals, collisions, and game logic.

/10 Integration of particle systems into game, triggered by game events (e.g., destroying a target)
	- Enemies catch fire when killed.

/5 Linear physics of objects in game

/5 Rotational physics, at least of tank (even 2D rotational physics will get some points here if you cannot do full 3D rotations)

***

/25 Gameplay and extra technology

/10 Does the project hang together as a game? (May receive negative score if the project is nothing like a game) Intangibles like aesthetics are rewarded in this part.

/10 Technical achievements beyond minimal requirements; highlight your accomplishments in the written document

/5 Controls, display, menus, other interface elements

*** 

/25 Writeup

/15 Completeness: does it address all points in adequate detail? Identify how you addressed each technical point on the list and explain additional technical elements; explain how to play the game; describe the algorithms and game logic; explain and justify design decisions, both software design and game design.

/5 Clarity of writing: organization, grammar, precision 

/5 Thoughtfulness of reflection